.custom-navbar {
    background-color: #f3f1f6;
}

.custom-navbar .nav-link {
    color: #93bc73;
    font-size: 20px;
}

.custom-navbar .nav-link:hover {
    color: #555; 
}

.custom-navbar .navbar-brand img {
    height: 100px;
}

