.custom-navbar {
    background-color: #fffee0;
}

.custom-navbar .nav-link {
    color: black;
}

.custom-navbar .nav-link:hover {
    color: #555; 
}

.custom-navbar .navbar-brand img {
    height: 100px;
}
